/*---- Font Famlies used ----*/
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700");

/* ---- Color Scheme => #fa5c1d Color Sechme (Orange) ----*/

/* Basic CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
}
:root {
  --color-dark: #1e202b;
  --color-dark-light: #323544;
  --color-blue: #009ad8;
}
a {
  color: #2d3954;
  text-decoration: none;
  background-color: transparent;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
.text-primary {
  color: var(--color-blue) !important;
}
.bg-dark-light {
  background-color: var(--color-dark-light) !important;
}
.bg-danger {
  background-color: #f33066 !important;
}
.bg-success {
  background-color: #27b737 !important;
}
.bg-warning {
  background-color: #ff9b20 !important;
}
.success-color {
  color: #27b737 !important;
}
.danger-color {
  color: #f33066 !important;
}
.warning-color {
  color: #ff9b20 !important;
}
.bg-white {
  background: #fff;
}
.flex-1 {
  flex: 1;
}
/* Index css is here */
html {
  overflow-x: hidden;
}
html body {
  overflow-x: hidden;
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  background-color: var(--color-dark);
}
ul,
li {
  list-style: none;
}
a,
a:link {
  text-decoration: none;
  color: #000;
}
.avg,
p,
ul,
form,
li {
  font-size: 1rem;
  color: #bfc1c8;
}

.spacer-50 {
  height: 5rem;
  display: block;
}
.spacer-30 {
  height: 3rem;
  display: block;
}
.w100 {
  width: 100%;
  max-width: 100%;
}

/*Navbar  */
.pul-right ul,
nav {
  background-color: var(--color-dark);
}
/* logo */
.navbar-brand {
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
}
.navbar-brand > img {
  width: 50px;
}

.navbar {
  padding-left: 17px;
  padding-right: 17px;
  width: 100%;
  z-index: 999;
  background: var(--color-dark);
  padding-top: 15px;
  padding-bottom: 15px;
}
.dropdown a {
  font-size: 14px;
}
.dropdown a:focus:hover {
  background-color: var(--color-blue);
  color: #fff !important;
}
.pul-right ul {
  margin-left: auto !important;
  margin-right: 0 !important;
  font-size: 1rem;
  font-family: "Muli", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-nav .nav-link {
  padding-left: 2.5rem !important;
  padding-right: 1rem !important;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
  color: var(--color-blue);
}
/* Remove padding from last element */
.nav-link:last-child {
  padding-right: 0 !important;
}
.collapse.show {
  background-color: var(--color-dark);
}
.navbar-brand {
  display: inline-block;
  width: 100px;
  height: 40px;
}
.navbar-brand .logo-png {
  width: 100%;
}

/* humbutger menu icon */

#nav-icon1 {
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--color-blue);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.navbar-light .navbar-toggler {
  margin-top: auto;
  border: none !important;
}
.collapse.show {
  background: #313131;
}
/* laoder */
.laoder-p-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fefefe;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: var(--color-blue-h);
  box-shadow: 30px 0 0 var(--color-blue);
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: var(--color-blue);
  box-shadow: 30px 0 0 #97bf0d;
}
/* Header */
.forecast-form {
  font-size: 1rem;
}
.div-container {
  height: 450px;
  overflow: hidden;
}
.div-container::after {
  content: "";
  position: absolute;
  background: #1e202b96;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.header-container {
  position: relative;
  top: 150px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
#header-video {
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
.forecast-form .form-control {
  background: transparent;
  border: none;
}
.forecast-form .input-group {
  background-color: var(--color-dark);
  padding: 10px 7px;
  border-radius: 50px;
}
.forecast-form .form-control:hover,
.forecast-form .form-control:focus {
  box-shadow: none !important;
  border: none;
  outline: none;
}
input::-webkit-input-placeholder {
  color: #fff;
}
.btn-forecast-search {
  border-radius: 50px;
  background-color: var(--color-blue);
  border: none;
  color: #fff;
  cursor: pointer;
}
.row.forecast {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}
/* media query */
@media screen and (max-width: 767px) {
  .pul-right ul {
    padding-top: 20px;
  }
  .nav-link {
    margin-bottom: 7px;
  }
}
/* new */

.contact-form [class*="col"] {
  padding: 0 5px;
}
.contact-form .row {
  margin: 0 -5px;
}
.contact-form input:not([type="submit"]),
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  color: white;
  border: 2px solid #393c48;
  background: transparent;
}
.contact-form input:not([type="submit"]):hover,
.contact-form input:not([type="submit"]):focus,
.contact-form textarea:hover,
.contact-form textarea:focus {
  border-color: #009ad8;
}
.contact-form textarea {
  min-height: 150px;
}
.contact-form .text-right {
  text-align: right;
}
.contact-form input:not([type="submit"]),
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  color: white;
  border: 2px solid #393c48;
  background: transparent;
}

form input,
form textarea,
form select {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 30px;
}
button,
input {
  line-height: normal;
}
.bg-blue {
  background-color: var(--color-blue);
}
.rounded-me {
  border-radius: 50px;
}
.breadcrumb {
  background: #262936;
  border-radius: 40px;
  padding: 20px 30px;
  font-size: 13px;
  font-size: 0.9285714286em;
}
/* breadcrub */
.breadcrumb a {
  color: #bfc1c8;
}
.breadcrumb span {
  color: #fff;
}
.breadcrumb a:after {
  content: "→";
  display: inline-block;
  /* vertical-align: middle; */
  width: 12px;
  margin: 0 10px;
}
/* footer */
.site-footer {
  background: #262936;
  padding: 50px 0;
}
.site-footer .subscribe-form {
  position: relative;
  margin-bottom: 30px;
}
.site-footer .subscribe-form input[type="text"] {
  padding: 20px 100px 20px 20px;
  background: #1e202b;
  width: 100%;
  color: white;
}
.site-footer .subscribe-form input[type="submit"] {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
}
.site-footer .social-links a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: #1e202b;
  color: #009ad8;
  text-align: center;
  line-height: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 20px;
  font-size: 1.4em;
  margin-right: 15px;
}
.site-footer .social-links a:hover {
  background: #009ad8;
  color: white;
}
/* Blog */
.latest-posts {
  background-color: var(--color-dark-light);
  padding: 15px;
  padding-left: 20px;
}
.latest-posts li {
  cursor: pointer;
  margin-bottom: 10px;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.photos > div div {
  overflow: hidden;
}
.photos > div {
  overflow: hidden;
}
.photos > div div img,
.photos > div div:hover img {
  transition: 0.5s ease-in-out;
  height: 365px;
  max-height: 400px;
  /* border-radius: 8px !important; */
}
/* Home */
.icon-div {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.icon-div img {
  line-height: 1;
  vertical-align: middle;
}
.nextDay {
  color: #fff;
  font-weight: 400 !important;
  flex: 1;
  padding: 20px 0;
}
/* .nextDay p {
  color: var(--color-blue);
} */
.nextDay .icon-div {
  width: 40px;
  height: 40px;
}
.next-five-days {
  display: flex;
  justify-content: space-between;
}
.next-five-days {
  background-color: var(--color-dark-light);

  border-radius: 5px;
}
.avg {
  margin-top: 10px;
  line-height: 1;
}
.forecastUpdates {
  margin-top: -200px;
  background-color: var(--color-dark);
  z-index: 10;
  border-bottom: 3px solid #fff;
}
.img-weather {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.52),
      rgba(0, 0, 0, 0.73)
    ),
    url("https://images.unsplash.com/photo-1489515217757-5fd1be406fef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60");
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-weather h1 {
  color: rgb(223, 221, 221);
  position: relative;
  font-family: "Muli";
}
.img-weather h1::after {
  content: "";
  position: absolute;
  bottom: -12px;
  width: 50%;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-blue);
}

.cities li a {
  color: var(--color-blue);
}
.nextDay:first-child {
  padding-left: 15px;
}
.nextDay:last-child {
  padding-right: 15px;
}
@media (max-width: 767px) {
  /* .photos > div div {
    height: 300px;
    max-height: 400px;
    overflow: hidden;
  } */
}
@media (max-width: 420px) {
  html {
    font-size: 13.5px;
  }
  input {
    font-size: 0.8rem;
  }

  .nextDay p {
    font-size: 0.85rem;
  }
  .nextDay:first-child {
    padding-left: 8px;
  }
  .nextDay:last-child {
    padding-right: 8px;
  }
  .header-container {
    top: 130px;
  }
  .forecastUpdates {
    margin-top: -240px;
  }
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bfc1c8;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder,
textarea::placeholder {
  /* Internet Explorer 10-11 */
  color: #bfc1c8;
}

input::-ms-input-placeholder,
textarea::placeholder {
  /* Microsoft Edge */
  color: #bfc1c8;
}
